<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Miriam_Serial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Miriam_Serial.Properties.Settings>
            <setting name="settTemperatureUp" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="settTemperatureMid" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="settDuration" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="settInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="settFolderRes" serializeAs="String">
                <value />
            </setting>
            <setting name="settTemperatureExtra" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="settBoxTemperatureThreshold" serializeAs="String">
                <value>60</value>
            </setting>
        </Miriam_Serial.Properties.Settings>
    </userSettings>
</configuration>